form(action="/carros/new", method="post")
    input(type="text", name="modelo", id="modelo")
    input(type="text", name="marca", id="marca") 
    input(type="number", name="valor", id="valor") 
    input(type="submit", value="Mandar")